<h1>Mini Projeto - Redis</h1>
<form name="formInsert" action="controllerForm" method="post">
    <input type="text" name="name" id="name" placeholder="write your name">
    <input type="email" name="email" id="email" placeholder="insert your user email">
    <input type="submit" name="btnSubmit" id="btnSubmit" value="cadastrar">
    <br>
    <textarea name="rascunho" id="rascunho" cols="30" rows="10"></textarea><br>
    <input type="submit" name="postSubmit" id="postSubmit" value="Postar">
</form>

<ul>
    <li><a href="selecionar">See user list</a><br></li>
    <li><a href="verposts">See post list</a><br></li>
</ul>