<form name="formInsert" action="controllerForm" method="post">
    <input type="text" name="name" id="name" placeholder="write your name">
    <input type="email" name="email" id="email" placeholder="insert your user email">
    <input type="submit" name="btnSubmit" id="btnSubmit" value="cadastrar">
</form>