<table id="user-list">
    <tr class="first">
        <td>Nome</td>
        <td>Email</td>
        <td>rascunho</td>
    </tr>

    {{#data}}

    <tr>
        <td>{{nome}}</td>
        <td>{{email}}</td>
        <td>{{aux}}</td>
    </tr>

    {{/data}}

</table>