<table id="user-list">

    <form action="http://localhost:3000" id="getkey" method="post" name="getkey">
        <input type="email" name="email" id="gmail" placeholder="insert your user email">
        <input type="submit" name="btnSubmit" id="btnSubmit" value="buscar">
    </form>

    <tr class="first">
        <td>Email</td>
        <td>rascunho</td>
    </tr>

    <tr id="rowpost">
        
    </tr>

        

</table>